<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derekchiu.q" >

    <uses-permission
        android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >

        <activity android:name=".ChooseFlowActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PeopleNamesActivity"/>
        <activity android:name=".QueueActivity"/>
        <activity android:name=".TimerActivity"/>
        <activity android:name=".FeedbackActivity"/>
        <activity android:name=".PeopleNamesCountdownActivity"/>
        <activity android:name=".FailedToArriveActivity"/>
        <service
            android:name=".MobileConnector"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
